.header {
    display: grid;
    grid-template-columns: 65% 25% 10%;
    padding: 1vh 1vh;
    align-items: center;
/* position: sticky; */
}

.header__links {
    color: rgb(0, 0, 0);
    margin-left: 4vh;
    padding-left: 8vh;
    text-align: left;
    /* margin-top: 2vh; */


}

.header__links a {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: rgb(0, 0, 0);
    padding: 0vh 1vh;
    font-size: 2.6vh;
    font-weight: 900;
}


.header__links a:hover {
    color: rgb(95, 95, 95);
    font-size: 2.5vh;
}

.header__middle {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1vh 1vh;
    margin: 1vh 1vh;
    border-radius: 2vh;

}

.header__middle svg {
    color: rgb(109, 107, 107);

}

.header__search {
    background-color: #fff;
    /* padding: 1vh 1vh;
    margin: 1vh 1vh; */
    display: flex;
    align-items: center;
    border-radius: 2vh;
    flex: .95;
    padding-left: 2vh;
    overflow: hidden;
    white-space: nowrap;
    
}

.toggle {
    /* display: none; */
    opacity: 0;
}

.header__search input {
    background-color: transparent;
    border: 0;
    outline: 0;
}

@media only screen and (max-width: 950px) {

    .header {
        display: grid;
        grid-template-columns: auto 20% 10%;
        padding: 1vh 1vh;
        align-items: center;
    /* position: sticky; */
    }
    .header__links {
        padding: 0;
        margin: 0;
    }
    .header__links a {
   
        padding: 0vh 1vh;
        font-size: 2.5vh;
        font-weight: 500;

    }
    .header__middle {
      
        padding: 1vh .5vh;
        margin: 1vh .5vh;
        border-radius: 1.5vh;
    
    }
}


@media only screen and (max-width: 800px) {

    .header__links {
        padding: 0vh;
        margin-right: 0vh;
    }
    .header__links a {
      
        font-size: 2.5vh;

    }
}

@media only screen and (max-width: 600px) {

    .header__links {
        padding-right: 2vh;
        margin-right: 8vh;
    }
    .header__links a {
      
        font-size: 2.2vh;
  
    }
    
  
    .header__middle {
        display: flex;
        align-items: center;
        width: 98%;

    }

    .toggle {
        opacity: 1;

    }

    #close {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        text-align: center;
        position: sticky;
   
    }
}


@media only screen and (max-width: 450px) {
    .header__links {
        padding-right: 1vh;
        margin-right:4vh;
        display: flex;
    }
    .header__links a {
      
        font-size: 2.1vh;
  
    }
    
}